body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family:"Montserrat";
}
.main{
	width: auto;
	border:2px solid #fcfc;
	background-color:#cdd0d4;
}
form{
	padding: 2% 10%;
}
.heading{
	font-family:"Montserrat-Black"; 
	text-decoration: bold;
	font-weight: 900;
	font-size:3.5rem;
	line-height: 1.5;
	text-align: center;
}
.close{
	position: absolute;
	top:50px;
	right:12%;
}
label{
	font-family:"Montserrat-Black"; 
	text-decoration: bold;
	font-weight: 600;
	font-size:1.2rem;
	line-height: 1.5;
	text-align: center; 
	margin-top:5px;
}

i{
	position: absolute;
	right:30px;
	top:45px;
	visibility: hidden;
	/*font-size:60px;*/
}

.fa-check-circle{
	color: green;
}
.fa-exclamation-circle{
	color: red;
}
.errormsg{
  color: red;
  visibility: hidden;

}